.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
overflow-y: auto;

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins&display=swap');

.MainDash::-webkit-scrollbar {display:none;}

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
      overflow: visible;
        align-items: center;
    }
}
