.main1{
  display: flex;
  gap: 10px;
}
.CompactCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 0.7rem;
  color: white;
  padding: 1rem;
  cursor: pointer;
}
.CompactCard:hover {
  box-shadow: none !important;
}
.arrow{
  margin-left: 240px;
}
.arrow1{
  margin-top: 40px;
  margin-left: 240px;
}


@media screen and (max-width: 1200px) {
  .ExpandedCard {
    top: 2rem;
    height: 45vh;
    left: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .ExpandedCard {
    top: 8rem;
    height: 50%;
    left: 25px;
    width: 80%;
  }
}
.out{
  display: grid;
  
}
